* {
  text-align: center;
  background-color: #f8f8ff;
}
header {
  font-size: x-large;
  color: plum;
  font-weight: bolder;
}
.App {
  text-align: center;
  background-color: #f8f8ff;
}
button {
  background-color: blueviolet !important ;
  border: blueviolet !important;
  padding: 5px !important;
  margin-top: 50px !important;
  margin-right: 350px !important;
}
.task span {
  padding-left: 10px;
  padding-right: 20px;
}
.task Button {
  margin: 0 !important;
  padding: 3px !important ;
  margin-left: 20px !important;
  font-weight: lighter !important;
  font-size: x-small !important;
}
.task {
  margin-bottom: 15px;
}
.uncheck {
  font-weight: lighter;
}
.check {
  font-weight: bolder;
  text-decoration: line-through;
}
.addTask Button {
  margin: 0 !important;
  padding: 3px !important ;
  margin-left: 20px !important;
  font-size: small !important;
  margin-bottom: 5px !important;
  padding: 5px !important;
}

.addTask {
  margin-top: 30px;
  margin-bottom: 10px;
}
.addTask input {
  border-radius: 5px;
  font-weight: lighter !important;
}
.taskFilter {
  margin-bottom: 30px;
  margin-right: 65px;
}
.taskFilter label {
  font-size: small;
  font-weight: lighter;
  margin-left: 5px;
  margin-right: 5px;
}
.taskFilter input {
  width: 10px;
  height: 10px;
}
